.header-container {
	background-image: url("https://goosefront.com/web_images/spaceweb-2-lg.jpg");
	background-repeat: no-repeat;
	background-position: center center !important;
	background-size: 100% !important;
}

.text-white {
	padding-top: 25%;
	padding-bottom: 24%;
}

.name {
	display: inline;
	font-size: 2.5rem;
	color: #d270f7;
}

.occupation {
	display: inline;
	font-size: 1.5rem;
	color: #d270f7;
}

@media (min-width: 992px) {
	.header-container {
		margin-top: -58.59px;
	}
}
