.navbar-brand {
	font-family: "Playfair Display", serif;
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
}

.body-content {
	padding-bottom: 2em;
}

.body-header {
	font-family: "Playfair Display", serif;
	font-style: regular;
	font-size: 34px;
	color: $colour-primary;
}

.body-paragraph {
	font-size: 1em;
	color: $colour-dark;
}
